@import 'http://fonts.googleapis.com/css?family=Ubuntu:300,400';

html {
   font-family: 'ubuntulight', Arial, sans-serif;
   font-size: 100%;
   -ms-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
   line-height: 1.5em;
   box-sizing: border-box;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   color: #65646a
}

table {
   font-family: 'Ubuntu';
   font-size: 13;
   color: #65646a;
}

tr.divider_grey {
   background-color: #EEE;
   height: 20px
}

tr.divider_white {
   //background-color: #fff;
   height: 20px
}

tr.divider_line {
   height: 10px;
   border-bottom-style: solid;
   border-bottom-width: 1px;
   border-bottom-color: #ddd
}

tr.divider_dotted {
   background:
      url(http://training.mulesoft.com/css/theme/images/dot-blue.png)
      repeat-x bottom;
   border: none
}

th {
   color: #FFFFFF;
}

td {
   padding: 10px
}

td.left {
   width: 150px;
   text-align: right
}

td.right {
   width: 500px
}

td.footer {
   align: right;
   border-top-style: solid;
   border-top-width: 1px;
   border-top-color: #ddd;
   padding: 10px
}

input.plaintext {
   width: 250px;
}

a:link {
   color: #000
}

a:visited {
   color: #000
}

a:hover {
   color: #34c1fd
}


#title-bar {
   background-color: #323031;
   font-family: Ubuntu;
   font-size: 1.5em;
   font-weight: 300;
   padding: .5em 0;
   color: #fff
}

#sub-title-bar {
   background-color: #f2f2f2;
   font-family: Ubuntu;
   font-size: 1em;
   font-weight: 300;
   padding: .25em 0;
   color: #414042;
   border-bottom: solid;
   border-bottom-width: 1px;
   border-bottom-color: #e0e0e0;
   margin-bottom: 0
}

.contentHeading {
   padding: 1.5em 0;
   font-family: Ubuntu;
   font-weight: 300
}

.contentHeadingLeft {
   display: inline-block;
   vertical-align: top
}

.contentHeadingRight {
   margin-left: 1.25em;
   display: inline-flex;
   vertical-align: top
}

.btn_green {
   display: block;
   background: #77BC1F;
   color: #fff;
   width: 150px;
   text-align: center;
   padding: 5px 0;
   border-style: none;
}

.btn_green:hover {
   color: #fff;
   background: #009444
}

.line {
   font-size: 13px;
   border-style: solid;
   border-color: #e0e0e0;
   border-width: 1;
   border-collapse: collapse;
   padding: 5px;
   text-align: left;
}

.thead {
   background-color: #337ab7;
   border-style: solid;
   border-width: 1;
   border-color: #337ab7;
}

.thead_item {
   font-size: 13px;
   font-family: Ubuntu;
   color: #FFFFFF; 
}

.ph {
   height: 100px;
   width: 300px;
   font-size: 15px;
   border-style: none;
   border-color: #e0e0e0;
   border-width: 1;
   border-collapse: collapse;
   text-align: center;
   background-color: #f1f1f1;
   box-shadow: 5px 5px 5px #888888;
   margin: 0 auto;
}

.white-bg {
   background-color: #FFFFFF;
}

body.nylas-gradient-bg {
  background-image: -webkit-radial-gradient(center 33%, circle cover, rgba(236,236,236,1) 40%, rgba(236,236,236,0) 100%), linear-gradient(to right, rgba(213,224,0,0.47) 0%,rgba(88,182,63,0.47) 50%,rgba(12,162,163,0.47) 100%);
  background-size: cover;
  color: #000000;
}
